<div style="display: flex; padding: 0 10%;">
  <div style="width: 30%">
    <h2>User Info</h2>
    <% if @user.profile_image_id.present? %>
      <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg") %>
    <% else %>
      <%= image_tag 'no_image.jpg' %>
    <% end %>
    <br>
    <hr>
    name　<%= @user.name %>
    <hr>
    introduction  <%= @user.introduction %>
    <br>
    <br>
    <%= link_to edit_user_path(@user.id), class: 'btn btn-default btn-block' do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end %>

    <h2>New Book</h2>

    <%= form_for @book, url: books_path, method: :post do |form| %>              <!-- (1) -->
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
      </div>
      <br>
      <div class="field">
        <%= form.label :body, value: 'Opinion' %>
        <br>
        <%= form.text_field :body %>
        <%= form.hidden_field :user_id, :value => @user.id %>
        <br>
        <div class="actions">
          <br>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <br>
  </div>

  <div style="width: 70%">
    <h2>Book detail</h2>
    <hr>
    <div style="display: flex">
      <% if @book.user_id == @user.id %>
        <div style="width: 20%">
          <%= link_to image_tag('no_image.jpg', width: '40'), book_path(@book.id) %>
          <br>
          <%= link_to @book.user.name, book_path(@book.id) %>
        </div>
        <div style="width: 20%">
          <%= link_to @book.title, book_path(@book.id) %>
        </div>
        <div style="width: 20%">
          <%= @book.body %>
        </div>
        <div style="width: 20%">
          <%= link_to 'Edit', edit_book_path(@book.id),  class: "btn btn-success" %>
        </div>
        <div style="width: 20%">
          <%= link_to 'Destroy', book_path(@book.id),  class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      <% else %>
        <div style="width: 33%">
          <%= link_to image_tag('no_image.jpg', width: '40'), book_path(@book.id) %>
          <br>
          <%= link_to @book.user.name, book_path(@book.id) %>
        </div>
        <div style="width: 33%">
          <%= link_to @book.title, book_path(@book.id) %>
        </div>
        <div style="width: 33%">
          <%= @book.body %>
        </div>
      <% end %>
    </div>
  </div>

</div>